.env
.env.*
!.env.example

node_modules/
dist/
build/
coverage/

.venv/
venv/
__pycache__/
*.pyc

uploads/
debug/
temp/
/storage/
/apps/api/storage/

*.log
logs/

.vscode/
.idea/

Thumbs.db
Desktop.ini
.DS_Store
